/*Reset css*/
@import "assets/css/reset.css";

/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

@font-face {
  font-family: velinoThin;
  src: url(assets/fonts/VelinoDisplay-Thin.otf);
}

@font-face {
  font-family: velinoLigth;
  src: url(assets/fonts/VelinoDisplay-Light.otf);
}

@font-face {
  font-family: velinoMedium;
  src: url(assets/fonts/VelinoDisplay-Medium.otf);
}

@font-face {
  font-family: velinoBook;
  src: url(assets/fonts/VelinoDisplay-Book.otf);
}

@font-face {
  font-family: velinoBold;
  src: url(assets/fonts/VelinoDisplay-Bold.otf);
}

@font-face {
  font-family: velinoMedium;
  src: url(assets/fonts/VelinoDisplay-Medium.otf);
}

@font-face {
  font-family: velinoBlack;
  src: url(assets/fonts/VelinoDisplay-Black.otf);
}

/*HTML basic styles--------------------*/

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: velinoBook;
    color: #ffffff;
    font-size: 32px;
    line-height: 38px;
    text-align: left;
}

h2 {
  font-family: velinoLigth;
  color: #ffffff;
  font-size: 24px;
  line-height: 38px;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #fff3dc;
}

a:active {
  color: #ffffff;
}

/*UI-----------------------------*/

.emergency {
  color: red;
  text-transform: uppercase;
  font-weight: 800;
}

.pill-link {
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;
  margin: 0;
  width: max-content;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.pill-link a {
  color: #000000;
}

.pill-link a:hover {
  color: #333333;
}

/*UI Form*/

.category-contact-form_container {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: normal;
  font-family: lato;
  color: #ffffff;
  z-index: 1;
}

.form-element{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 100%;
    margin: 5px 5px 5px 5px;

}

.form-element-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type=text] {
  margin: 6px 0;
  height: 38px;
  width: 100%;
  border: 0;
  padding-left: 5px;
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 6px 0;
}

select{
  margin: 6px 0;
  height: 38px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  margin: 6px 0;
  height: 38px;
  width: 100%;
  border: 0;
  background-color: #333333;
  color: #ffffff;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
}


/*Layout--------------------------*/

.container-web {
  position: absolute;
  top: 0;
  display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*Main Menu*/

.hero-background {
  width: 100vw;
  height: 100vh;
  /*  background-color: red; */
}

.menu {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  font-family: lato;
  color: #ffffff;
  z-index: 1;
}

.main-menu {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 26px;
}

.main-menu_left {
  margin-left: 30px;
}

.main-menu_left_telephone {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
}

.main-menu_left_telephone li {
  margin: 0 5px;
}

.main-menu_left_telephone_phones {
  display: flex;
  flex-direction: column;
}

.main-menu_rigth {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}

.main-menu_rigth li {
  margin: 0 5px;
}

.main-menu_rigth li img {
  max-width: 26px;
}

/*Second Menu*/

.second-menu_categories_logo {
  margin-bottom: 15px;
}

.second-menu_categories {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: lato;
  text-align: center;
}

.second-menu_categories_items>li {
  margin: 0 15px 0 15px;
}

.second-menu_categories_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*$section Hero Main section */

.main_title{
  pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main_title p { 
  font-family: velinoBook;
  font-size: 44px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
}

.main_title p span { 
  font-family: velinoBold;
  color: #ffffff;
}

/*Flexslider*/

.flexslider {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  zoom: 0;
  z-index: -1;
  border: 0;
  overflow: hidden;
  border-radius: 0;
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 15px;
  text-align: center;
}

.flexslider .slides img {
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: fill-available;

}

.flex-control-nav {
  display: none;
}

.flex-direction-nav {
  display: none;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.flexslider-hero-picture1 {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/images/clinic.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-animation: zoomout 20s ease-in infinite;
  animation: zoomout 20s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

.flexslider-hero-picture2 {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/images/bg1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-animation: zoomout 20s ease-in infinite;
  animation: zoomout 20s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

.flexslider-hero-picture3 {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/images/bg2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-animation: zoomout 20s ease-in infinite;
  animation: zoomout 20s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
}


@keyframes zoomout {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

.hero-background::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.5;
}


/*$section Banner advertising */

.banner-ad1{
  position: relative;
  top: 0px;
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  line-height: 36px;
  font-family: velinoBook;
  background-color: #000000;;
}

.banner-ad1::before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url(assets/images/smile-ad.jpg);
  background-position: 0px -500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}

.ad-description{
  font-size: 42px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-family: velinoBook;
  z-index: 1;
}

.ad-price{
  margin-top: 30px;
  font-size: 70px;
  font-weight: 600;
  font-family: Lato;
}

.ad-copy{
  font-size: 38px;
  margin-right: 30px;
  width: 40%;
  line-height: 40px;
  text-align: right;
  z-index: 1;
  font-family: velinoBook;
}

/*$section Our Treatments*/

.OurTreatments {
  position: relative;
  width: 100vw;
  height: 1200px;
  background-color: #ffffff;
}

.container_menu-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.menu-grid{
  width: 80%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 240px);
}

.item{
  background-color: aqua;
  height: 100%;
  cursor: pointer;
}

.category-smileDesign {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(assets/images/bg5.jpg);
  background-position: -720px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 500ms;
  transform:scaleX(-1);
}

.category-smileDesign:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 500ms;
}

.category-implants {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(assets/images/bg3.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform:scaleX(-1);
}

.category-implants:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 500ms;
}


.category-hygiene {
  grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(assets/images/bg2.jpg);
    background-position: right;
    background-size: 170%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.category-hygiene:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 500ms;
}

.category-kids {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://via.placeholder.com/400x400.png?text=image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.category-kids:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 500ms;
}

.category-orthodontics {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://via.placeholder.com/400x400.png?text=image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.category-orthodontics:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 500ms;
}

.category-care {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(assets/images/bg1.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.category-care:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 500ms;
}

.category-aesthetics {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(assets/images/bg4.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transform:scaleX(-1);
}

.category-aesthetics:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: all 500ms;
}

.category-contact-form {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(assets/images/eram_11_opacity.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*$section About Us*/

.AboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: fit-content;
  background-color: #333333;
}

.zahra-eram {
  width: 100%;
    height: 550px;
    max-width: 1024px;
    background-color: #000000;
    margin: 120px 0;
    background-image: url(assets/images/architect-home-box-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zahra-text-area {
  width: 50%;
}

.zahra-text-area_container{
  margin: 30px;
}

.zahra-picture {
  width: 50%;
  height: 100%;
  text-align: right;
  background-image: url("assets/images/Zahra.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.zahra-picture img {
  width: 100%;
  height: auto;
}
