/*Reset css*/
@import "assets/css/reset.css";

/*Fonts*/

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");

@font-face {
  font-family: velinoThin;
  src: url(assets/fonts/VelinoDisplay-Thin.otf);
}

@font-face {
  font-family: velinoLigth;
  src: url(assets/fonts/VelinoDisplay-Light.otf);
}

@font-face {
  font-family: velinoMedium;
  src: url(assets/fonts/VelinoDisplay-Medium.otf);
}

@font-face {
  font-family: velinoBook;
  src: url(assets/fonts/VelinoDisplay-Book.otf);
}

@font-face {
  font-family: velinoBold;
  src: url(assets/fonts/VelinoDisplay-Bold.otf);
}

@font-face {
  font-family: velinoMedium;
  src: url(assets/fonts/VelinoDisplay-Medium.otf);
}

@font-face {
  font-family: velinoBlack;
  src: url(assets/fonts/VelinoDisplay-Black.otf);
}

/*HTML basic styles--------------------*/

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: velinoBlack;
  color: #ffffff;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
}

h2 {
  font-family: velinoThin;
  color: #ffffff;
  font-size: 24px;
  line-height: 38px;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #fff3dc;
}

a:active {
  color: #ffffff;
}

hr {
  width: 350px;
  position: absolute;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid black;
}

/*Classes for Javascript*/

.none {
  top: 0px !important;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.block {
  display: block;
}

/*UI-----------------------------*/

.emergency {
  color: red;
  text-transform: uppercase;
  font-weight: 800;
}

.pill-link {
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.pill-link-black {
  background-color: #000000;
  color: #ffffff;
  padding: 0 20px;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.pill-link a {
  color: #000000;
}

.pill-link a:hover {
  color: #333333;
}

/*UI Form*/

.sectionTitle {
  font-family: velinoMedium;
  font-size: 42px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 120px 0 0 120px;
}

.category-contact-form_container > .sectionTitle {
  margin: 30px 0;
}

.category-contact-form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  font-family: lato;
  color: #ffffff;
  z-index: 1;
}

.form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0;
  width: 100%;
  margin: 5px 5px 5px 5px;
}

.form-element-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type="text"] {
  margin: 6px 0;
  height: 42px;
  font-size: 18px;
  width: 100%;
  border: 0;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;

}

textarea {
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 6px 0;
  font-size: 18px;
}

select {
  margin: 6px 0;
  height: 42px;
  font-size: 18px;
  width: 100%;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

button {
  margin: 6px 0;
  height: 42px;
  font-size: 18px;
  width: 100%;
  border: 0;
  background-color: #333333;
  color: #ffffff;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
}

/*Layout--------------------------*/

.container-web {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/*Main Menu*/

.hero-background {
  width: 100vw;
  height: 100vh;
  /*  background-color: red; */
}

.menu {
  position: absolute;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  font-family: lato;
  color: #ffffff;
  z-index: 1;
}

.main-menu {
  position: absolute;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 26px;
}

.main-menu_left {
  margin-left: 30px;
}

.main-menu_left_telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-menu_left_telephone li {
  margin: 0 5px;
}

.main-menu_left_telephone_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-menu_rigth {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-menu_rigth li {
  margin: 0 5px;
}

.main-menu_rigth li img {
  max-width: 26px;
  width: 100%;
  height: auto;
}

/*Second Menu*/

.second-menu_categories_logo {
  margin-bottom: 15px;
}

.second-menu_categories {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: lato;
  text-align: center;
  font-size: 18px;
}

.second-menu_categories_items > li {
  margin: 0 15px 0 15px;
  font-family: lato;
}

.second-menu_categories_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Scroll menu */

.menu_scroll {
  top: -100px;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-family: lato;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  -webkit-transition: 500ms;
  transition: 500ms;
}

.menu_scroll_categories_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.menu_scroll_categories_items a {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: lato;
  margin: 0 15px 0 15px;
  font-size: 16px;
}

.menu_scroll_logo {
  color: #000000;
  font-family: velinoLigth;
  font-size: 26px;
  margin-left: 15px;
}

.menu_scroll_logo::after {
  height: 20px;
  width: 32px;
  position: absolute;
  top: 8px;
  content: "";
  background-image: url(assets/images/swiss-cross.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.menu_scroll > .main-menu_rigth li > a > img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/*$section Hero Main section */

.main_title {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main_title p {
  font-family: velinoBook;
  font-size: 44px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
}

.main_title p span {
  font-family: velinoBold;
  color: #ffffff;
}

/*Flexslider*/

.flexslider {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  zoom: 0;
  z-index: -1;
  border: 0;
  overflow: hidden;
  border-radius: 0;
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 15px;
  text-align: center;
}

/* 
.flexslider .slides img {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
} */

.flex-control-nav {
  display: none;
}

.flex-direction-nav {
  display: none;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("../img/videoframe.jpg") center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.flexslider-hero-picture1 {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-animation: zoomout 20s ease-in infinite;
  animation: zoomout 20s ease-in infinite;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.flexslider-hero-picture2 {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-animation: zoomout 20s ease-in infinite;
  animation: zoomout 20s ease-in infinite;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.flexslider-hero-picture3 {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-animation: zoomout 20s ease-in infinite;
  animation: zoomout 20s ease-in infinite;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hero-background::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.5;
}

/*$section Banner advertising */

.banner-ad1 {
  position: relative;
  top: 0px;
  height: 400px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  line-height: 36px;
  font-family: velinoBook;
  background-color: #000000;
}

.banner-ad1::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url(assets/images/smile-ad.jpg);
  background-position: 0px -500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
}

.ad-description {
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 60px;
  font-family: velinoBook;
  z-index: 1;
}

.ad-price {
  margin-top: 30px;
  font-size: 70px;
  font-weight: 600;
  font-family: Lato;
}

.ad-copy {
  font-size: 38px;
  margin-right: 60px;
  width: 40%;
  line-height: 40px;
  text-align: right;
  z-index: 1;
  font-family: velinoBook;
  max-width: 600px;
}

/*$section Our Treatments*/

.OurTreatments {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  background-image: url(assets/images/patterns.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container_menu-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: auto;
}

.menu-grid {
  width: 80%;
  max-width: 1280px;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 270px);
  margin: 120px 0;
}

.item {
  height: 100%;
  cursor: pointer;
  position: relative;
}

.item img {
  position: absolute;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 0px 10px #000000);
          filter: drop-shadow(0px 0px 10px #000000);
}

.category-logo {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  top: 80px;
}

.item1 {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.category-smileDesign {
  width: 100%;
  height: 100%;
  background-image: url(assets/images/bg5.jpg);
  background-position: -750px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  position: absolute;
}

.category-smileDesign:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.item2 {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.category-implants {
  width: 100%;
  height: 100%;
  background-image: url(assets/images/bg3.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.category-implants:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.item3 {
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.category-hygiene {
  width: 100%;
  height: 100%;
  background-image: url(assets/images/bg2.jpg);
  background-position: right;
  background-size: 170%;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.category-hygiene:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

item4 {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.category-kids {
  width: 100%;
  height: 100%;
  background-image: url(assets/images/bg7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.category-kids:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

item5 {
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.category-orthodontics {
  width: 100%;
  height: 100%;
  background-image: url(assets/images/bg6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.category-orthodontics:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

item6 {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.category-care {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(assets/images/bg1.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.category-care:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.item7 {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.category-aesthetics {
  width: 100%;
  height: 100%;
  background-image: url(assets/images/bg4.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.category-aesthetics:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.category-contact-form {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: url(assets/images/eram_11_opacity.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*$section About Us*/

.AboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #302f2d;
  background-image: url("assets/images/pattern-module.png");
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

.zahra-eram {
  width: 100%;
  height: 550px;
  max-width: 1024px;
  background-color: #000000;
  margin: 120px 0;
  background-image: url(assets/images/architect-home-box-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zahra-text-area {
  width: 50%;
}

.zahra-text-area_container {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.zahra-text-area_container img {
  height: 70px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.zahra-picture {
  width: 50%;
  height: 100%;
  text-align: right;
  background-image: url("assets/images/Zahra.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.zahra-picture img {
  width: 100%;
  height: auto;
}

.caption-signaure {
  color: #ffffff;
  text-align: left;
  font-family: velinoBook;
}

/*$section About Us the clinic*/

.theClinic {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title {
  font-family: velinoLigth;
  font-size: 72px;
  text-align: center;
  padding: 120px 0 120px 0;
  background-color: #ffffff;
  color: #4c4c4c;
  line-height: 70px;
}

.section-title span {
  font-family: velinoBold;
  font-size: 72px;
  text-align: center;
  color: #000000;
}

.section-picture {
  width: 100%;
  height: 400px;
  background-image: url(assets/images/eram_17.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-description {
  width: 100%;
  font-family: velinoLigth;
  font-size: 22px;
  text-align: center;
  padding: 120px 0 120px 0;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-description_title {
  font-family: velinoBold;
  font-size: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.section-description_text {
  width: 50%;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.gallery-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-galery {
  width: 80%;
  max-width: 1280px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 160px);
  margin: 0 0 120px 0;
}

.gallery-item1 {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-item2 {
  width: 100%;
  height: 100%;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-item3 {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-item4 {
  width: 100%;
  height: 100%;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-item5 {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-item6 {
  width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/*$section About Us the Team*/

.theTeam {
  width: 100vw;
  height: auto;
  background-color: #DFD9D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theTeam > .section-title {
  background-color: #DFD9D6;
}

.theTeam > .section-picture {
  width: 100%;
  height: 400px;
  background-image: url(assets/images/eram_16.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.team-description_title { 
  font-family: velinoBold;
  font-size: 42px;
  text-align: center;
  color: #000000;
  margin: 0 0 120px 0;
}

.dentist-grid-galery{
  width: 80%;
  max-width: 1280px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  margin: 0 0 120px 0;
}

.dentist-grid-galery-2{
  width: 80%;
  max-width: 1280px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 300px);
  margin: 0 0 120px 0;
}

.dentist-grid-galery-3{
  width: 80%;
  max-width: 1280px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 300px);
  margin: 0 0 120px 0;
}

.team-item1{
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(assets/images/eram_07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-item2{
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(assets/images/eram_07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-item3{
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(assets/images/eram_07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-item4{
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(assets/images/eram_07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-item5{
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(assets/images/eram_07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-item6{
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(assets/images/eram_07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.clinic-message {
  width: 100%;
  height: 400px;
  background-image: url(assets/images/keyvisual_eram_07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clinic-message::before {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5)
}

.clinic-message p {
  position: absolute;
  font-family: velinoLigth;
  font-size: 42px;
  color: #ffffff;
  max-width: 1200px;
  text-align: center;
  z-index: 2;
}

.our-values{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.values-lists{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.value-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 350px;
  margin: 0 0 120px 0;
}
.value-list_title{
  font-family: velinoBold;
  font-size: 42px;
  margin-bottom: 30px;
}
.value-list_sub-title{
  font-family: velinoBook;
  font-size: 32px;
  margin-bottom: 30px;
}
.value-list_text{
  font-family: velinoLigth;
  font-size: 22px;
}


@media (max-width: 1350px) {
  .container-web {
    display: none;
  }
}