.modal-wrapper {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    transition: all .8s;
    width: 60%;
    transform: translateY(0vh);
    opacity: 1;
    position: absolute;
    z-index: 999999999;
}
